cache/
src/__pycache__/*
.ipynb_checkpoints/
data/*
prediction/
temp/
multiple_choice/output1/*
question_answering/output1/*
question_answering/pred1/*
mc_pred_test.json
submission.csv
MutiChoice_Analysis.ipynb
QA_Analysis.ipynb
adl_hw1_refactor/checkpoint
adl_hw1_refactor/data
adl_hw1_refactor/prediction
old_version/multiple_choice/output1
old_version/question_answering/output1
old_version/question_answering/pred1
